<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Car Characteristic</title>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="../Content/style.min.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-xs-12">

                <div class="col-sm-12 wrapper-select-compare">
                    <select class="global-select">
                        <option>Audi</option>
                        <option>BMW</option>
                        <option>Mercedes-Benz</option>
                        <option>VW</option>
                    </select>
                </div>

                <div class="col-sm-12 wrapper-select-compare">
                    <select class="global-select">
                        <option>A4</option>
                        <option>325TDS</option>
                        <option>S-Class</option>
                        <option>Golf</option>
                    </select>
                </div>

                <div class="col-sm-12 wrapper-select-compare">
                    <select class="global-select">
                        <option>1.9TDI</option>
                        <option>2.5tds</option>
                        <option>6.3</option>
                        <option>1.8T</option>
                    </select>
                </div>
            </div>

           <div class="col-sm-2 col-xs-12 versus"><img src="../Content/images/vs.png" alt="" /></div>

            <div class="col-sm-5 col-xs-12">

                <div class="col-sm-12 wrapper-select-compare">
                    <select class="global-select">
                        <option>Audi</option>
                        <option>BMW</option>
                        <option>Mercedes-Benz</option>
                        <option>VW</option>
                    </select>
                </div>

                <div class="col-sm-12 wrapper-select-compare">
                    <select class="global-select">
                        <option>A4</option>
                        <option>325TDS</option>
                        <option>S-Class</option>
                        <option>Golf</option>
                    </select>
                </div>

                <div class="col-sm-12 wrapper-select-compare">
                    <select class="global-select">
                        <option>1.9TDI</option>
                        <option>2.5tds</option>
                        <option>6.3</option>
                        <option>1.8T</option>
                    </select>
                </div>
            </div>
            <a href="#" class="global-btn green">Compare</a>

            <a href="#" class="global-btn blue">text</a>
        </div>
    </div>

    <script src="../Scripts/jquery-1.9.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
</body>
</html>
