<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Car Characteristic</title>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="../Content/style.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row compared">
            <div class="col-xs-6 "> <div class="pull-left left-side">BMW 320</div></div>
            <div class="col-xs-6"><div class="pull-right right-side">VW Golf</div></div>
        </div>

        
        <div class="wraper-property">
            <div class="row">
                <div class="col-sm-12 text-center title-property">
                    Top speed
                </div>
            </div>

            <div class="wrapper-progress progress">
                <div class="progress-bar progress-bar-lose" role="progressbar" style="width:40%">
                    <span class="pull-left ">5s</span>
                </div>

                <div class="progress-bar progress-bar-win" role="progressbar" style="width:60%">
                    <span class="pull-right">4s</span>
                </div>

                <div class="separator"></div>
            </div>
        </div>

        <div class="wraper-property">
            <div class="row">
                <div class="col-sm-12 text-center title-property">
                    0-100km/h
                </div>
            </div>

            <div class="wrapper-progress progress">
                <div class="progress-bar progress-bar-lose" role="progressbar" style="width:50%">
                    <span class="pull-left ">20s</span>
                </div>

                <div class="progress-bar progress-bar-win" role="progressbar" style="width:50%">
                    <span class="pull-right">20s</span>
                </div>

                <div class="separator"></div>
            </div>
        </div>

        <div class="wraper-property">
            <div class="row">
                <div class="col-sm-12 text-center title-property">
                    0-200km/h
                </div>
            </div>

            <div class="wrapper-progress progress">
                <div class="progress-bar progress-bar-lose" role="progressbar" style="width:42%">
                    <span class="pull-left ">43s</span>
                </div>

                <div class="progress-bar progress-bar-win" role="progressbar" style="width:58%">
                    <span class="pull-right">38s</span>
                </div>

                <div class="separator"></div>
            </div>
        </div>

        <div class="wraper-property">
            <div class="row">
                <div class="col-sm-12 text-center title-property">
                    400m
                </div>
            </div>

            <div class="wrapper-progress progress">
                <div class="progress-bar progress-bar-lose" role="progressbar" style="width:45%">
                    <span class="pull-left ">10.3s</span>
                </div>

                <div class="progress-bar progress-bar-win" role="progressbar" style="width:55%">
                    <span class="pull-right">9.8s</span>
                </div>

                <div class="separator"></div>
            </div>
        </div>

        <div class="wraper-property">
            <div class="row">
                <div class="col-sm-12 text-center title-property">
                    HP
                </div>
            </div>

            <div class="wrapper-progress progress">
                <div class="progress-bar progress-bar-lose" role="progressbar" style="width:60%">
                    <span class="pull-left ">122cc</span>
                </div>

                <div class="progress-bar progress-bar-win" role="progressbar" style="width:40%">
                    <span class="pull-right">110cc</span>
                </div>

                <div class="separator"></div>
            </div>
        </div>
    </div>
    <script src="../Scripts/jquery-1.9.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
</body>
</html>
